google-assistant-grpc==0.1.0
google-assistant-library==0.1.1
google-assistant-sdk==0.4.4
google-auth==1.0.1
google-auth-oauthlib==0.2.0
sounddevice==0.3.11
click==6.7
tenacity==4.12.0
futures==3.2.0
pathlib2==2.3.0
pyaudio==0.2.11
pyasn1==0.4.2
gtts==1.2.2
flask==0.12.2
flas-socketio==2.9.6
configparser==3.5.0

