<!DOCTYPE HTML>
<html>
<head>
  <title>Google Assistant</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/layout.css') }}">
</head>
<body>
  <script type="text/javascript">
      $(document).ready(function() {
          var socket = io.connect('http://192.168.3.197:3000');

          socket.on('message', function(msg) {
              $("#dashboard").append('<li class="right message">'+msg+'</li>')
          });

          socket.on('output', function(msg) {
              $("#dashboard").append('<li class="left message">'+msg+'</li>')
          });
      });
  </script>
      <main role="main" class="container">
      <div class="col-md-12 col-sm-12">
          <br><br>
      <h1>Google Assistant</h1>
      <div id="dashboard">
      </div>
    </div>
    </main>
</body>
</html>
